clasificador_coches_v3.keras
clasificador_coches_v4.keras
image_collector.py
data/imagenes_test/bmw_serie_3_1.jpg
data/imagenes_test/bmw_serie_3_2.jpg
data/imagenes_test/bmw_serie_3_3.jpg
data/imagenes_test/bmw_serie_3_4.jpg
data/imagenes_test/bmw_serie_3_5.jpg
data/imagenes_test/bmw_serie_3_6.jpg
data/imagenes_test/bmw_serie_3_7.jpg
data/imagenes_test/bmw_serie_3_8.jpg
data/imagenes_test/bmw_serie_3_9.jpg
data/imagenes_test/bmw_serie_3_10.jpg
data/imagenes_test/ford_mustang_1.jpg
data/imagenes_test/ford_mustang_2.jpg
data/imagenes_test/ford_mustang_3.jpg
data/imagenes_test/ford_mustang_4.jpg
data/imagenes_test/ford_mustang_5.jpg
data/imagenes_test/ford_mustang_6.jpg
data/imagenes_test/ford_mustang_8.jpg
data/imagenes_test/ford_mustang_9.jpg
data/imagenes_test/honda_civic_3.jpg
data/imagenes_test/honda_civic_5.jpg
data/imagenes_test/honda_civic_6.jpg
data/imagenes_test/honda_civic_7.jpg
data/imagenes_test/honda_civic_8.jpg
data/imagenes_test/honda_civic_9.jpg
data/imagenes_test/honda_civic_10.jpg
data/imagenes_test/mercedes-benz_c-class_1.jpg
data/imagenes_test/mercedes-benz_c-class_2.jpg
data/imagenes_test/mercedes-benz_c-class_3.jpg
data/imagenes_test/mercedes-benz_c-class_4.jpg
data/imagenes_test/mercedes-benz_c-class_5.jpg
data/imagenes_test/mercedes-benz_c-class_6.jpg
data/imagenes_test/mercedes-benz_c-class_7.jpg
data/imagenes_test/mercedes-benz_c-class_8.jpg
data/imagenes_test/mercedes-benz_c-class_9.jpg
data/imagenes_test/mercedes-benz_c-class_10.jpg
data/imagenes_test/toyota_corolla_1.jpg
data/imagenes_test/toyota_corolla_3.jpg
data/imagenes_test/toyota_corolla_5.jpg
data/imagenes_test/toyota_corolla_6.jpg
data/imagenes_test/toyota_corolla_7.jpg
data/imagenes_test/toyota_corolla_8.jpg
data/imagenes_test/toyota_corolla_9.jpg
data/imagenes_test/toyota_corolla_10.jpg
